<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layout/adminlayout.html">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
</head>
<body>
    <div layout:fragment="admin">
        <div class="container" style="margin-top: 5%">
            <div class="table-responsive">

                <div th:if="${success}">
                    <p role="alert" class="alert alert-success">Blog Successfully Created!
                    </p>
                </div>
                <div th:if="${delete}">
                    <p role="alert" class="alert alert-success">
                        Blog Successfully Deleted
                    </p>
                </div>

                <div th:if="${update}">
                    <p role="alert" class="alert alert-success">
                        Blog Successfully Updated
                    </p>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Body</th>
                        <th>Author</th>
                        <th>Details</th>
                        <th>Update</th>
                        <th>Delete</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="blog:${blogs}">
                        <td th:text="${blog.title}"></td>
                        <td th:text="${blog.category}"></td>
                        <td th:text="${blog.body}"></td>
                        <td th:text="${blog.author.name}"></td>
                        <td><a href="#" th:href="@{'/blog/' + ${blog.id}}" class="btn btn-primary">Details</a></td>
                        <td><a href="#" th:href="@{'/blog/update/' + ${blog.id}}" class="btn btn-primary">Update</a></td>
                        <td><a href="#" th:href="@{'/blog/delete/' +${blog.id}}" class="btn btn-danger">Delete</a></td>


                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="#" th:href="@{blog}" class="btn btn-primary">Add New</a>
        </div>
    </div>
</body>
</html>