<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="./layout/adminlayout.html">
<head>
    <meta charset="UTF-8">
    <title>Blog Details</title>
</head>
<body>
    <div layout:fragment="admin">
        <div class="container">
           <h4 class="text-muted text-center" th:text="${blog.title}"></h4>
            <p th:text="${blog.body}"></p>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-2">
                    <p th:text="${blog.author.name}"></p>
                </div>
            </div>
        </div>

    </div>
</body>
</html>